* {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #202225;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(32, 34, 37, 0.55);
  border-radius: 99px;
}

::-webkit-scrollbar-thumb {
  background-color: #1a1b1d;
  border-radius: 99px;
}


